/*General Styling*/
#parent{
background-color: white;
border: none;
margin: 0;
padding: 0;
text-align: left;
display: flex;
}


@media screen and (max-width: 800px) {
    #left, #main, #right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      height: auto;
      min-height: 300px;
    }
  }

/*Left Section Styling*/

#left-section{
    background-color: rgb(58, 56, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(198, 197, 197);
    width: 20%;
    vertical-align: left;
}

#compose{
    background-color: rgb(14, 22, 166);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: whitesmoke;
    padding: 10px 25%;
    margin-left: 5%;
    font-size: 1rem;
    border-radius: 8px;
}

#sidebar-nav{
    list-style-type: none;
    padding: 10px;
}

li{
    margin-bottom: 15%;
}

/*Mid-Section Styling*/

#mid-section{
    background-color: rgb(214, 212, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
}

#email-search-bar{
    background-color: rgb(245, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1vw;
    border-radius: 8px;
}

/*Right Section Styling*/

#right-section{
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 50%;
    display: inline-block;
    vertical-align: right;
}

#msg-box{background-color: rgb(245, 240, 240);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid;
    border-width: 1px;
    border-color: rgb(201, 200, 200);
    color: whitesmoke;
    padding: 100px 200px;
    margin-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1vw;
    border-radius: 8px;
}

#send{background-color: rgb(219, 90, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    margin-left: 14px;
    font-size: 1vw;
    border-radius: 8px;
}

#second-line{
    background-color:white;
}

input::placeholder{text-align: left;
   color:rgb(130, 130, 133);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

/* Stack everything on smaller screens */
@media screen and (max-width: 800px) {
    #parent {
      flex-direction: column;
    }
  
    #left-section,
    #mid-section,
    #right-section {
      width: 100%;
      min-height: auto;   /* let them grow with content */
    }